body {
    filter: invert(1);
    background: #000;
}
img {
    filter: invert(1)!important;
}
.logo-img-container img{filter:invert(0)!important}

.head-primary, .btn-primary, .btn-secondary, .footer-legal, .form-control:hover, .form-select:hover, .form-quantity:hover{border-color: #f7c04c!important}

.head-primary .badge {color: #000!important;}

.head-primary .badge, .btn-primary, .social-icon-rounded{background: #f7c04c!important;}

.item-price, footer a, footer .contact-link, .btn-secondary, .btn-link-primary:hover, .btn-link-primary:focus{color: #f7c04c!important;}

.svg-icon-primary, footer .contact-item-icon {fill: #f7c04c !important;}
