body {
    filter: invert(1);
    background: #000;
}
.slider-slide, .item-image, .swiper-slide.slide-container, .textbanner-image, .swiper-slide, .product-thumb {
    filter: invert(1)!important;
}
img{filter: invert(1);!important}
